<!-- contact section -->
<div class="d-flex justify-content-center align-items-center">
  <div class="text-center my-5 py-5">
    <h2><b>Let's build something together</b></h2>
    <p class="text-secondary">Feel free to reach out if you're looking for a
      developer, have a question, or just want to connect.</p>
    <div class="d-flex flex-column flex-md-row justify-content-center">

        <!-- link -->
      <a href="mailto:rahmattomyapriliyanto@gmail.com" target="_blank" class="text-decoration-none text-secondary"><i 
          class="bi bi-envelope mx-2"
        ></i></i><span>rahmattomyapriliyanto@gmail.com</span></a>
        <p class="mx-3 text-secondary d-none d-md-inline">|</p>
      <a href="https:/wa.me/6281553960011" target="_blank" class="text-decoration-none text-secondary"><i
          class="bi bi-whatsapp mx-2"
        ></i><span>+62 815-5396-0011</span></a>
    </div>
  </div>
</div>