<!-- hero section -->
<div class="hero pt-5 pt-md-0 d-flex justify-content-center align-items-center">
  <div class="d-flex flex-wrap justify-content-center">
    <section class="d-flex flex-column flex-md-row">
      <div class="me-md-5 pe-md-5">

        <!-- introduction -->
        <h5 class="text-secondary">Hello, I'm</h5>
        <h1 class="fw-bolder">Rahmat&nbsp;Tomy</h1>
        <div>
          <p class="fw-medium mb-0 text-secondary">

            <!-- address -->
            <i class="bi bi-geo-alt-fill"></i>
            Magetan, Jawa Timur, Indonesia</p>
          <p class="fw-medium text-secondary">

            <!-- availability -->
            <span class="d-inline-block rounded-5 dot"></span>
            Available for new projects</p>
        </div>
        <div class="d-flex justify-content-center">

          <!-- reach button -->
          <a
            href="https://wa.link/jwh3fa"
            target="_blank"
            class="btn btn-success fs-5"
          ><i class="bi bi-whatsapp"></i>
            Reach Me</a>
        </div>
      </div>

      <!-- profile image -->
      <div class="position-relative d-flex justify-content-center m-3">
        <img
          src="/assets/images/avatar/profile.png"
          alt="Profile"
          class="profile"
        />
        <img
          src="/assets/images/avatar/shape.png"
          alt="Profile"
          class="position-absolute z-n1 shape"
        />
        <div class="position-absolute bottom-0 gradient"></div>
      </div>
    </section>
    <section
      class="text-secondary intro mb-3 ms-lg-5 ps-lg-5 d-flex flex-column justify-content-lg-center"
    >

      <!-- job -->
      <h3><span class="role text-secondary"></span></h3>
      <h5>I am a Full-Stack Developer in training with a strong technical
        foundation in networking, server environments, and system documentation.
        Currently sharpening my skills through an intensive coding bootcamp.</h5>
    </section>
  </div>
</div>