<!-- hero section -->
<div class="d-flex justify-content-center align-items-center mb-5">
  <div
    class="d-flex flex-column align-items-center flex-lg-row gap-3 gap-lg-5 hero"
  >
    <section class="mt-5 mt-lg-0 p-0 p-lg-5">

      <!-- profile image -->
      <img
        src="/assets/images/avatar/profile.jpg"
        alt="Profile"
        class="profile rounded-2"
      />
    </section>
    <section class="align-items-lg-start">
      <div class="mb-4">

        <!-- introduction -->
        <h1 class="greet text-center text-lg-start fw-bolder">Hello, I'm
          Rahmat&nbsp;Tomy</h1>
        <h2
          class="text-center text-lg-start mt-3 mb-3 role fw-bolder text-secondary"
        >Full-Stack Developer</h2>
        <h5 class="text-center text-lg-start fw-medium text-secondary">I am a
          Full-Stack Developer in training with a strong technical foundation in
          networking, server environments, and system documentation. Currently
          sharpening my skills through an intensive coding bootcamp, focusing on
          building full-stack web applications while applying structured
          problem-solving and system-oriented thinking gained from real-world
          technical roles.</h5>
      </div>
      <div class="d-flex flex-column align-items-center align-items-lg-start">
        <div class="mb-3">
          <h5 class="fw-medium mx-0 text-secondary">

            <!-- address -->
            <i class="bi bi-geo-alt-fill"></i>
            Magetan, Jawa Timur, Indonesia</h5>
          <h5 class="fw-medium text-secondary">

            <!-- availability -->
            <span class="d-inline-block rounded-5 dot"></span>
            Available for new projects</h5>
        </div>
        <div class="d-flex gap-4">

          <!-- reach button -->
          <a
            href="https:/wa.me/6281553960011"
            target="_blank"
            class="btn btn-success fs-5"
          ><i class="bi bi-whatsapp"></i>
            Let's Talk</a>
          <a
            href="https://drive.google.com/file/d/1PAWIWLNYoaGgxq_DMpj0fG4kLsEeR7bS/view?usp=sharing"
            target="_blank"
            class="btn btn-reverse fs-5"
          ><i class="bi bi-file-earmark-arrow-down"></i>
            Download CV</a>
        </div>
      </div>
    </section>
  </div>
</div>