<!-- project section -->
<div class="p-3">
  <h2 class="padtop"><b>My Projects:</b></h2>
  <div class="row row-cols-1 row-cols-md-2 p-3">
    <section class="col p-2">
      <div class="card shadow-sm bg-theme rounded-3 h-100">
        <div
          class="d-flex justify-content-center bg-card rounded-top-3 border-0 h-75"
        >
          <img
            src="/assets/images/projects/lockid.gif"
            alt="LockID"
            class="overflow-hidden rounded-top-3 rounded-md-0"
            style="max-height: 15rem;"
          /></div>
        <div class="card-body">
          <h5 class="card-title"><b>LockID</b></h5>
          <p class="card-text text-secondary">A reusable user management
            platform featuring pre-built authentication components for login and
            registration.</p>
          <div class="d-flex flex-wrap gap-3 mb-3">
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >React</span></small>
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >TypeScript</span></small>
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >Node.js</span></small>
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >Tailwind</span></small>
          </div>
          <div class="d-flex flex-column flex-md-row gap-0 gap-md-3">
            <small>
              <div class="d-flex align-items-center">
                <i class="bi bi-github mx-2"></i>
                <span
                  href="#"
                  class="text-decoration-none text-secondary"
                >Private Repository</span>
              </div>
            </small>
            <small>
              <div class="d-flex align-items-center">
                <i class="bi bi-box-arrow-up-right mx-2"></i>
                <span href="#" class="text-decoration-none text-secondary">Demo
                  Unavailable</span>
              </div>
            </small>
          </div>
        </div>
      </div>
    </section>
    <section class="col p-2">
      <div class="card shadow-sm bg-theme rounded-3 h-100">
        <div
          class="d-flex justify-content-center bg-card rounded-top-3 border-0 h-75"
        >
          <img
            src="/assets/images/projects/profilelab.png"
            alt="ProfileLab"
            class="overflow-hidden rounded-top-3 rounded-md-0"
            style="max-height: 15rem;"
          /></div>
        <div class="card-body">
          <h5 class="card-title"><b>ProfileLab</b></h5>
          <p class="card-text text-secondary">A pixel-focused AI image
            generation platform capable of producing HD images based on
            user-specified prompts.</p>
          <div class="d-flex flex-wrap gap-3 mb-3">
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >Next.js</span></small>
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >TypeScript</span></small>
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >AI/ML</span></small>
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >Tailwind</span></small>
          </div>
          <div class="d-flex flex-column flex-md-row gap-0 gap-md-3">
            <small>
              <div class="d-flex align-items-center">
                <i class="bi bi-github mx-2"></i>
                <span class="text-decoration-none text-secondary">Private
                  Repository</span>
              </div>
            </small>
            <small>
              <div class="d-flex align-items-center">
                <i class="bi bi-box-arrow-up-right mx-2"></i>
                <span class="text-decoration-none text-secondary">Demo
                  Unavailable</span>
              </div>
            </small>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>