<!-- project section -->
<h2 class="pt-5 pt-md-0"><b>My Projects:</b></h2>
<div class="swiper swiper-project bg-swiper rounded-3">
  <div class="swiper-wrapper p-3 p-lg-5">
    <div class="swiper-slide">

      <!-- profilelab -->
      <div class="card shadow-sm bg-theme rounded-3">
        <div class="d-flex justify-content-center bg-card rounded-top-3">
          <img
            src="/assets/images/projects/profilelab.png"
            alt="ProfileLab"
            class="object-fit-cover overflow-hidden rounded-top-3"
          /></div>
        <div class="card-body d-flex flex-column justify-content-end">
          <h5 class="card-title"><b>ProfileLab</b></h5>
          <p class="card-text text-secondary">A pixel-focused AI image
            generation platform capable of producing HD images based on
            user-specified prompts.</p>
          <div class="d-flex flex-wrap gap-3 mb-3">
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >Next.js</span></small>
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >TypeScript</span></small>
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >AI/ML</span></small>
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >Tailwind</span></small>
          </div>
          <div class="d-flex flex-column flex-md-row gap-0 gap-md-3">
            <small>
              <div class="d-flex align-items-center">
                <i class="bi bi-github mx-2"></i>
                <span class="text-decoration-none text-secondary">Private
                  Repository</span>
              </div>
            </small>
            <small>
              <div class="d-flex align-items-center">
                <i class="bi bi-box-arrow-up-right mx-2"></i>
                <span class="text-decoration-none text-secondary">Demo
                  Unavailable</span>
              </div>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">

      <!-- lockid -->
      <div class="card shadow-sm bg-theme rounded-3">
        <div class="d-flex justify-content-center bg-card rounded-top-3">
          <img
            src="/assets/images/projects/lockid.gif"
            alt="LockID"
            class="object-fit-cover overflow-hidden rounded-top-3"
          /></div>
        <div class="card-body d-flex flex-column justify-content-end">
          <h5 class="card-title"><b>LockID</b></h5>
          <p class="card-text text-secondary">A reusable user management
            platform featuring pre-built authentication components for login and
            registration.</p>
          <div class="d-flex flex-wrap gap-3 mb-3">
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >React</span></small>
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >TypeScript</span></small>
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >Node.js</span></small>
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >Tailwind</span></small>
          </div>
          <div class="d-flex flex-column flex-md-row gap-0 gap-md-3">
            <small>
              <div class="d-flex align-items-center">
                <i class="bi bi-github mx-2"></i>
                <span class="text-decoration-none text-secondary">Private
                  Repository</span>
              </div>
            </small>
            <small>
              <div class="d-flex align-items-center">
                <i class="bi bi-box-arrow-up-right mx-2"></i>
                <span class="text-decoration-none text-secondary">Demo
                  Unavailable</span>
              </div>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">

      <!-- personal web -->
      <div class="card shadow-sm bg-theme rounded-3">
        <div class="d-flex justify-content-center bg-card rounded-top-3">
          <img
            src="/assets/images/projects/crud.png"
            alt="CRUD"
            class="object-fit-cover overflow-hidden rounded-top-3"
          /></div>
        <div class="card-body d-flex flex-column justify-content-end">
          <h5 class="card-title"><b>Basic CRUD</b></h5>
          <p class="card-text text-secondary">A foundational content management
            application implementing core CRUD operations.</p>
          <div class="d-flex flex-wrap gap-3 mb-3">
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >JavaScript</span></small>
            <small><span
                class="px-2 py-1 bg-card text-secondary rounded-5"
              >Bootstrap</span></small>
          </div>
          <div class="d-flex flex-column flex-md-row gap-0 gap-md-3">
            <small>
              <div class="d-flex align-items-center">
                <i class="bi bi-github mx-2"></i>
                <a
                  href="https://github.com/tosrv/DW-stage1/tree/day6"
                  target="_blank"
                  class="text-decoration-none"
                >View on GitHub</a>
              </div>
            </small>
            <small>
              <div class="d-flex align-items-center">
                <i class="bi bi-box-arrow-up-right mx-2"></i>
                <a
                  href="https://dw-personalwebs.netlify.app/"
                  target="_blank"
                  class="text-decoration-none"
                >Live Demo
                </a>
              </div>
            </small>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-slide">

      <!-- next project -->
      <div
        class="card justify-content-center gap-2 shadow-sm bg-theme rounded-3"
      >
        <h2 class="text-center fw-bold text-secondary">Next Project</h2>
        <h2 class="text-center fw-bold text-secondary">Coming Soon</h2>
        <h2 class="text-center fw-bold text-secondary">Let's build it together</h2>
      </div>
    </div>
    <div class="swiper-slide"></div>
  </div>
</div>