<div class="border-top pt-2">
  <div class="d-flex justify-content-around align-items-baseline">

    <!-- copyright -->
    <p class="text-secondary">&copy; 2025 Coded by Rahmat Tomy</p>
    <div class="d-inline">

      <!-- link -->
      <a href="https://github.com/tosrv" target="_blank" class="text-decoration-none github"><i
          class="bi bi-github mx-2"
        ></i></a>
      <a href="https://www.linkedin.com/in/rahmat-tomy-apriliyanto-445a34382" target="_blank" class="text-decoration-none linkedin"><i
          class="bi bi-linkedin mx-2"
        ></i></a>
    </div>
  </div>
</div>