<!-- footer section -->
<div class="border-top pt-2">
  <div class="d-flex justify-content-around align-items-baseline">

    <!-- copyright -->
    <p class="text-secondary">&copy; 2025 Rahmat Tomy</p>

    <div class="d-flex align-items-center">
      <!-- link -->
      <a
        href="https://github.com/tosrv"
        target="_blank"
        class="text-decoration-none github"
      ><i class="bi bi-github mx-2 my-0 p-0"></i></a>
      <a
        href="https://www.linkedin.com/in/rahmat-tomy-apriliyanto-445a34382"
        target="_blank"
        class="text-decoration-none linkedin"
      ><i class="bi bi-linkedin mx-2"></i></a>
      <a
        href="https://www.instagram.com/rahmat_tomy"
        target="_blank"
        class="text-decoration-none instagram"
      ><i class="bi bi-instagram mx-2"></i></a>
      <a
        href="https://www.youtube.com/@ra-tom"
        target="_blank"
        class="text-decoration-none youtube"
      ><i class="bi bi-youtube mx-2"></i></a>
    </div>
  </div>
</div>