<!-- navbar section -->
<nav class="navbar navbar-expand-lg fixed-top p-0">
  <div class="container d-flex justify-content-end py-1 px-3">
    <section class="d-flex align-items-center px-3 py-1 bg-theme rounded-3 shadow-sm">
      <!-- brand logo -->
      <img
        src="/assets/images/logos/logo.png"
        alt="Logo"
        class="navbar-brand nav-link pointer me-3"
        data-target="hero"
        title="Home"
      />

      <!-- menu -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#navbar"
        aria-controls="navbar"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-end"
        tabindex="-1"
        id="navbar"
        aria-labelledby="offcanvasNavbarLabel"
      >
        <div class="offcanvas-header">
          <h3>Rahmat Tomy</h3>
          <!-- close button -->
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
          ></button>
        </div>

        <div class="offcanvas-body">
          <ul class="navbar-nav ms-auto">
            <!-- navbar menu -->
            <li class="nav-item">
              <a
                class="nav-link m-0 px-2 py-2 py-lg-0"
                href="javascript:void(0)"
                data-target="tech"
              >Tech Stack</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link m-0 px-2 py-2 py-lg-0"
                href="javascript:void(0)"
                data-target="experience"
              >Experience</a>
            </li>
            <li class="nav-item">
              <a
                class="nav-link m-0 px-2 py-2 py-lg-0"
                href="javascript:void(0)"
                data-target="project"
              >Project</a>
            </li>
            <li class="nav-item">
              <!-- download cv button -->
              <a
                href="https://drive.google.com/file/d/1PAWIWLNYoaGgxq_DMpj0fG4kLsEeR7bS/view?usp=sharing"
                target="_blank"
                class="btn btn-reverse ms-2 px-1 py-0 mt-2 mt-lg-0"
              ><i class="bi bi-file-earmark-arrow-down"></i>
                Download CV</a>
            </li>
          </ul>
        </div>
      </div>

      <!-- theme button -->
      <i
        class="bi bi-moon-fill ms-3 pointer navbar-nav nav-item nav-link"
        id="themeToggle"
        title="Change Theme"
        onclick="changeTheme()"
      ></i>
    </section>
  </div>
</nav>